body {
  background-color: #eee;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-famili: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: 30px;
}
.header .my-header {
  margin: 5px;
  text-align: center;
}
.header .myInput {
  border-radius: 5px;
  width: 90%;
  height: 40px;
}
.header .todoBtn,
.header .doneBtn,
.header .remove,
.header .chengeColorBtn {
  border-radius: 5px;
  border: 1px solid blue;
  height: 20px;
  width: 5%;
  margin: 5px;
}
.header .buttons {
  margin: 10px;
}
.header .BtnRemove,
.header .BtnDone {
  border-radius: 5px;
  border: 1px solid blue;
  width: 50px;
  height: 20px;
}
.header .BtnRemove {
  margin-right: 5px;
}
.header li {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

/*# sourceMappingURL=main.css.map */
